<h3>Lecture<span>grab</span> is an application for continuing education through whatever habajab</h3>
<h3>Fill out your options below!</h3>

<div class="panel panel-primary">
    <div class="panel-heading">Lecture<span>grab</span> Options</div>
    <div class="panel-body">
        <form role="form">
            <div class="checkbox">
                <input type="checkbox" id="checkbox5">
                <label for="checkbox5">Check me out</label>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Textarea</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                    <label for="inlineCheckbox1">1</label>
                </div>
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2">
                    <label for="inlineCheckbox2">2</label>
                </div>
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3">
                    <label for="inlineCheckbox3">3</label>
                </div>
            </div>
            <div class="form-group">
                <label for="select">Selects</label>
                <select class="form-control" id="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="multiple-select">Multiple Select</label>
                <select multiple="" class="form-control" id="multiple-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="checkbox">
                <input type="checkbox" value="" id="checkbox3">
                <label for="checkbox3">
                  
                  Option one is this and that—be sure to include why it's great
                </label>
            </div>
            <div class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                <label for="optionsRadios1">Option one is this and that—be sure to include why it's great</label>
            </div>
            <div class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <label for="optionsRadios2">Option two can be something else and selecting it will deselect option one</label>
            </div>
            <button type="submit" class="btn btn-ar btn-primary">Submit</button>
            <button type="cancel" class="btn btn-ar btn-default">Cancel</button>
        </form>
    </div>
</div>